
.header {
    background-color: #606ce4;
    width: 100%;
    height: 100px;
}

.nav-list {
    padding: 10px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;
}

.list-item img{
    width: 70px;
}

.list-item .item{
    text-decoration: none;
    color: white;
}